CODY_PUBLIC_API=https://cody-public-api-320419602052.us-central1.run.app
# Variables legacy (fallback):
# CODY_INTERNAL_API_URL=
# CODY_API_BASE_URL=

CODY_AGENT_ID=
CODY_SERVICE_USERNAME=
CODY_SERVICE_PASSWORD=
# CODY_CHAT_USERNAME=
# CODY_CHAT_PASSWORD=

CODY_TECHNICAL_SHEETS_URLS=https://prisa.mx/wp-content/uploads/2025/06/Fichas_impermeabilizantes.pdf
NEXT_PUBLIC_SITE_URL=http://localhost:3000
