CODY_INTERNAL_API_URL=https://cody-public-api-XXXX.us-central1.run.app
# o
# CODY_API_BASE_URL=https://...

CODY_AGENT_ID=
CODY_SERVICE_USERNAME=
CODY_SERVICE_PASSWORD=
# CODY_CHAT_USERNAME=
# CODY_CHAT_PASSWORD=

CODY_TECHNICAL_SHEETS_URLS=https://prisa.mx/wp-content/uploads/2025/06/Fichas_impermeabilizantes.pdf
NEXT_PUBLIC_SITE_URL=http://localhost:3000
